body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.topnav {
  background-color: #32502E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F3EFCC;
  color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
a:active {color:#37a345;}

img{
  padding:auto;
  margin:auto;
  border-radius: 2px;
}
.hi{
  display: inline-block;
}
body {
  background-image: url("");
  background-color:#F3EFCC;
 }

 /*login form */

 input[type=text],input[type=password],textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #32502E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.loginform,.register,.addquote {
  border-radius: 5px;
  background-color: #ECE7B4;
  padding: 15px;
  width: 350px;
  margin: auto;
  margin-top:50px ;
  box-shadow: 3px 5px 10px 1px #32502e;
}
.homebg{
  background-repeat: no-repeat;
width: 100%;
height: 526px;
  
}



.item1 {
   grid-area: header; 
   line-height: 12px;
   height: 92px;
   margin-top: -9px
}
.item2 {
   grid-area: menu;
   margin-top: -62px
   }
.item3 {
   grid-area: main; 
   margin-top: -59px;

  }
  .caption{
    font-size: 20px;
    font-family: "Lucida Console", 

  }
  .emailhead{
    line-height: 2px;
    font-size: 15px;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
  }
  .hi{
    font-size: 40px;
    line-height: 0.8px;
    font-family: "Times New Roman",
    
  }
  .noteslist{
    box-shadow: 3px 5px 10px 1px #32502e;
    background-color: #ECE7B4
  }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu menu menu menu menu main';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  
}
.lensize{
  text-align: left;
}


.btn {
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px 1px #031b04 ;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 8px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn {
  background-color: #175010; 
  color: rgb(255, 255, 255); 
}

.btn:hover {
  background-color: #4CAF50;
  color: white;
}
.qhead{
  font-size: 23px;
    font-weight: bold;
    padding-top: 3px
}
.qbody{
  font-family: "Lucida Console";
  font-size: 13px;
    line-height: 16px
}